@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-links {
    display: flex;
    column-gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #1d232c;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #1d232c;
}

.navbar-menu-toggle {
    display: none;
}

/* Side navbar */
.side-navbar {
    background-color: #1d232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar-links a {
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover {
    text-decoration: underline;
}

/*Header*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.header-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #1d232c;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.header img {
    height: 400px;
    width: 300px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/*Service*/
.service {
    padding: 20px;
}

.service-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.service-container-2 div {
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
}

/*New Arrival and Most wanted*/
.new-arrival,
.most-wanted {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container,
.most-wanted-container {
    position: relative;
    flex-basis: 20%;
}

.new-arrival img,
.most-wanted img {
    width: 200px;
    height: 250px;
}

.new-arrival button,
.most-wanted button {
    padding: 5px 10px;
    margin-top: 10px;
    color: #1d232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.new-arrival button:hover,
.most-wanted button:hover {
    background-color: #ffffff;
}

/*News*/
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input {
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 2px;
}

.news button {
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1d232c;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/*Footer*/
.footer {
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: #f2f4f7;
}

/*Product*/
.product-section {
    margin-top: 20px;
}

.product-search {
    width: 80%;
    border: 1px solid black ;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.product-search input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 8px;
    margin-top: 15px;
}

.product-search input:focus {
    outline: none;
}

.products {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products-box {
    text-align: center;
    flex-basis: 20%;
    margin-bottom: 10px;
}

.products-box img {
    border-radius: 10px;
    width: 200px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* Contact */
.contact-container {
    background-color: #1d232c;
    color: #f2f4f7;
    margin: 30px 20px;
    border-radius: 8px;
    padding: 40px;
}

.contact-container h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.contact-container form {
    padding: 10px;
    margin: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.contact-container button {
    background-color: #00f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

/* Media Query */
@media screen and (max-width:700px) {
    .navbar-menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .header-image {
        display: none;
    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }
}